<div>
	{{#each tabs as |tab|}}
	<section class="tab scrollable {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
		{{#with tab.data as |karma|}}
		<div class="form-group">
			{{formInput @root.fields.name value=karma.name name=(concat tab.id ".name") localize=true }}
			<div class="karma-checkbox">
				<input
					type="checkbox"
					name="{{@tab.id}}.enabled"
					id="{{@tab.id}}.enabled"
					{{checked karma.enabled}}
					hidden
				/>
				<label class="enabled-checkbox {{checked karma.enabled}}" for="{{@tab.id}}.enabled">
					{{localize "KARMA.Form.enabled"}}
				</label>
			</div>
			{{formInput @root.fields.id value=karma.id classes="hidden-input" name=(concat tab.id ".id") }}
		</div>
		<fieldset class="user-picker">
			<legend>{{localize "KARMA.Form.UserPicker.title"}}</legend>
			<div class="flexcol">
				<div class="form-group flexrow">
					<div class="karma-checkbox">
						<input
							type="checkbox"
							name="{{@tab.id}}.allGms"
							id="{{@tab.id}}-karmaWho-allGms"
							{{checked karma.allGms}}
							hidden
						/>
						<label class="{{checked karma.allGms}}" data-action="markUsers" data-users="gm" for="{{@tab.id}}-karmaWho-allGms">
							{{localize "KARMA.Form.GMS"}}
						</label>
					</div>
					{{#each karma.gms}}
					<div class="karma-checkbox gm" hidden>
						<input
							type="checkbox"
							name="{{@tab.id}}.gms.{{id}}"
							id="{{@tab.id}}-karmaWho-{{id}}"
							data-dtype="String"
							data-value="{{id}}"
							{{checked active}}
							hidden
						/>
					</div>
					{{/each}}
					<div class="karma-checkbox">
						<input
							type="checkbox"
							name="{{@tab.id}}.allPlayers"
							id="{{@tab.id}}-karmaWho-allGms"
							{{checked karma.allPlayers}}
							hidden
						/>
						<label class="{{checked karma.allPlayers}}" data-action="markUsers" data-users="player" for="{{@tab.id}}-karmaWho-allPlayers">
							{{localize "KARMA.Form.AllPlayers"}}
						</label>
					</div>
					{{#each karma.players}}
					<div class="karma-checkbox player">
						<input
							type="checkbox"
							name="{{@tab.id}}.players.{{id}}"
							id="{{@tab.id}}-karmaWho-{{id}}"
							data-dtype="String"
							data-value="{{id}}"
							{{checked active}}
							hidden
						/>
						<label class="{{checked active}}" for="{{@tab.id}}-karmaWho-{{id}}">{{name}}</label>
					</div>
					{{/each}}
				</div>
			</div>
		</fieldset>
		<fieldset>
			<legend>{{localize "KARMA.Form.Configuration"}}</legend>
			{{formGroup @root.fields.dice value=karma.dice name=(concat tab.id ".dice") localize=true}}
			{{formGroup @root.fields.type value=karma.type name=(concat tab.id ".type") localize=true}}

			{{#if (eq karma.type "fudge")}}
			{{formInput @root.fields.history value=karma.history classes="hidden-input" name=(concat tab.id ".history") }}
			{{formGroup @root.fields.inequality value=karma.inequality name=(concat tab.id ".inequality") localize=true}}
			{{formInput @root.fields.threshold value=karma.threshold classes="hidden-input" name=(concat tab.id ".threshold") }}
			{{else}}
			{{formGroup @root.fields.history value=karma.history name=(concat tab.id ".history") localize=true }}
			{{formGroup @root.fields.inequality value=karma.inequality name=(concat tab.id ".inequality") localize=true}}
			{{formGroup
				@root.fields.threshold
				value=karma.threshold
				name=(concat tab.id ".threshold")
				max=karma.dice
				localize=true
			}}
			{{/if}}

			{{#if (or (eq karma.type "simple") (eq karma.type "fudge"))}}
			{{formGroup
				@root.fields.floor
				value=karma.floor
				name=(concat tab.id ".floor")
				max=karma.dice
				localize=true
			}}
			{{/if}}
			{{#if (eq karma.type "fudge")}}
			{{formGroup @root.fields.recurring value=karma.recurring name=(concat tab.id ".recurring") localize=true}}
			{{/if}}

			{{#if (eq karma.type "average")}}
			{{formGroup
				@root.fields.nudge
				value=karma.nudge
				name=(concat tab.id ".nudge")
				max=karma.dice
				localize=true
			}}
			{{formGroup @root.fields.cumulative value=karma.cumulative name=(concat tab.id ".cumulative") localize=true }}
			{{/if}}
			<div class="form-group">
				<label>{{localize "KARMA.Form.Outcome"}}</label>
				<p class="hint">{{karma.example}}</p>
			</div>
		</fieldset>
		{{/with}}
	</section>
	{{/each}}
</div>