<form>
	<div class="form-group">
		<label>Enable</label>
		<div class="form-fields">
			<input type="checkbox" name="enabled" {{checked karma.enabled}} />
		</div>
	</div>
	<hr />
	<div>
		<h3 class="form-header">
			<span style="font-weight: bold;">WHO: </span>Who should be affected by karma?
		</h3>
		<div class="flexcol">
			<div class="form-group flexrow">
				{{#each whoGmOptions}}
					<div>
						<input
							type="checkbox"
							name="gms.{{@index}}"
							value="{{id}}"
							class="karma-checkbox"
							id="karmaWho-{{id}}"
							data-dtype="String"
							data-value="{{id}}"
							{{checked karma}}
							hidden
						/>
						<label for="karmaWho-{{id}}">{{name}}</label>
					</div>
				{{/each}}
			</div>
			<div class="form-group flexrow">
				{{#each whoUserOptions}}
					<div>
						<input
							type="checkbox"
							name="players.{{@index}}"
							value="{{id}}"
							class="karma-checkbox"
							id="karmaWho-{{id}}"
							data-dtype="String"
							data-value="{{id}}"
							{{checked karma}}
							hidden
						/>
						<label for="karmaWho-{{id}}">{{name}}</label>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
	<hr />
	{{formGroup
		inputs.dice
		name="dice"
		label=(localize "KARMA.Form.Faces.label")
		hint=(localize "KARMA.Form.Faces.hint")
	}}
	{{formGroup
		inputs.inequality
		name="inequality"
		label=(localize "KARMA.Form.Inequality.label")
		hint=(localize "KARMA.Form.Inequality.hint")
		value=karma.inequality
		options=inequalityOptions
		localize=true
	}}
	<hr />
	<div class="form-group">
		<label>Type</label>
		<div class="form-fields">
			<div class="form-fields">
				<select name="type">
					{{selectOptions types selected=karma.type}}
				</select>
			</div>
		</div>
	</div>
	{{formGroup
		inputs.history
		name="history"
		label=(localize "KARMA.Form.History.label")
		hint=(localize (concat "KARMA.Form.History.hint." karma.type) number=karma.history)
	}}
	{{formGroup inputs.threshold name="threshold" label=(localize "KARMA.Form.Threshold.label")}}
	{{#if (eq karma.type "simple")}}
		{{formGroup
			inputs.floor
			name="floor"
			label=(localize "KARMA.Form.Floor.label")
			hint=(localize "KARMA.Form.Floor.hint" number=karma.floor)
		}}
		<div class="form-group">
			Current Player Stats
			{{#each playerStats}}
				<p class="notes" style="padding-left: 20px">
					<span style="font-weight: bold;">{{name}}:</span>
					[{{#each stats}}
						{{#if (lte this @root.karma.threshold)}}
							<span style="font-weight: bold;font-style: italic">
								{{~this~}}
							</span>
						{{else}}
							{{~this~}}
						{{/if}}
						{{#unless @last}}, {{/unless}}
					{{/each}}]
				</p>
			{{/each}}
		</div>
	{{/if}}

	{{#if (eq karma.type "average")}}
		{{formGroup inputs.nudge name="nudge" label=(localize "KARMA.Form.Nudge.label")}}
		{{formGroup
			inputs.cumulative
			name="cumulative"
			label=(localize "KARMA.Form.Cumulative.label")
			hint=(localize "KARMA.Form.Cumulative.hint")
			value=karma.cumulative
		}}
		<div class="form-group">
			Current Player Stats
			{{#each playerStats}}
				<p class="notes" style="padding-left: 20px"><span style="font-weight: bold;">{{name}}:</span>
					[{{statsString}}] =
					<span style="font-weight: bold;">{{avg}}</span>
					avg</p>
			{{/each}}
		</div>
	{{/if}}
</form>