<form>
	<div class="form-group">
		<label>Enable</label>
		<div class="form-fields">
			<input type="checkbox" name="enabled" {{checked karma.enabled}} />
		</div>
	</div>
	{{#if karma.enabled}}
		<h3 class="form-header" id="karmaWhoHeader">
			<span style="font-weight: bold;">WHO: </span>Who should be affected by karma?
		</h3>
		<div class="flexcol">
			<div class="form-group flexrow">
				{{#each whoGmOptions}}
					<div>
						<input
							type="checkbox"
							name="gms.{{@index}}"
							value="{{id}}"
							class="karma-checkbox"
							id="karmaWho-{{id}}"
							data-dtype="String"
							data-value="{{id}}"
							{{checked karma}}
							hidden
						/>
						<label for="karmaWho-{{id}}">{{name}}</label>
					</div>
				{{/each}}
			</div>
			<div class="form-group flexrow">
				{{#each whoUserOptions}}
					<div>
						<input
							type="checkbox"
							name="players.{{@index}}"
							value="{{id}}"
							class="karma-checkbox"
							id="karmaWho-{{id}}"
							data-dtype="String"
							data-value="{{id}}"
							{{checked karma}}
							hidden
						/>
						<label for="karmaWho-{{id}}">{{name}}</label>
					</div>
				{{/each}}
			</div>
		</div>
		<hr />
		<div class="form-group">
			<label>Type</label>
			<div class="form-fields">
				<div class="form-fields">
					<select name="type">
						{{selectOptions types selected=karma.type}}
					</select>
				</div>
			</div>
		</div>
		{{#if (eq karma.type "simple")}}
			<div class="form-group">
				<label for="history">History</label>
				<div class="form-fields">
					<input
						type="range"
						name="history"
						value="{{karma.history}}"
						min="2"
						max="15"
						step="1"
						data-dtype="Number"
					/>
					<span class="range-value">{{karma.history}}</span>
				</div>
				<p class="notes">If the last
					<span class="range-value" style="font-weight: bold;">{{karma.history}}</span>
					d20 dice rolls...</p>
			</div>
			<div class="form-group">
				<label for="threshold">Threshold</label>
				<div class="form-fields">
					<input
						type="range"
						name="threshold"
						value="{{karma.threshold}}"
						min="1"
						max="20"
						step="1"
						data-dtype="Number"
					/>
					<span class="range-value">{{karma.threshold}}</span>
				</div>
				<p class="notes">... are equal or less than
					<span class="range-value" style="font-weight: bold;">{{karma.threshold}}</span>, then...</p>
			</div>
			<div class="form-group">
				<label for="floor">Next Roll Floor</label>
				<div class="form-fields">
					<input
						type="range"
						name="floor"
						value="{{karma.floor}}"
						min="1"
						max="20"
						step="1"
						data-dtype="Number"
					/>
					<span class="range-value">{{karma.floor}}</span>
				</div>
				<p class="notes">...the next die roll will be
					<span class="range-value" style="font-weight: bold">{{karma.floor}}</span>
					or higher.</p>
			</div>
			<div class="form-group">
				Current Player Stats
				{{#each playerStats}}
					<p class="notes" style="padding-left: 20px">
						<span style="font-weight: bold;">{{name}}:</span>
						[{{#each stats}}
							{{#if (lte this @root.karma.threshold)}}
								<span style="font-weight: bold;font-style: italic">
									{{~this~}}
								</span>
							{{else}}
								{{~this~}}
							{{/if}}
							{{#unless @last}}, {{/unless}}
						{{/each}}]
					</p>
				{{/each}}
			</div>
		{{/if}}

		{{#if (eq karma.type "average")}}
			<div class="form-group">
				<label for="history" style="font-style: italic;">History</label>
				<div class="form-fields">
					<input
						type="range"
						name="history"
						value="{{karma.history}}"
						min="2"
						max="25"
						step="1"
						data-dtype="Number"
					/>
					<span class="range-value">{{karma.history}}</span>
				</div>
				<p class="notes" style="font-style: italic;">If the average of the last
					<span class="range-value" style="font-weight: bold;">{{karma.history}}</span>
					d20 dice rolls...</p>
			</div>
			<div class="form-group">
				<label for="threshold">Threshold</label>
				<div class="form-fields">
					<input
						type="range"
						name="threshold"
						value="{{karma.threshold}}"
						min="1"
						max="20"
						step="1"
						data-dtype="Number"
					/>
					<span class="range-value">{{karma.threshold}}</span>
				</div>
				<p class="notes">...is equal or less than
					<span class="range-value" style="font-weight: bold;">{{karma.threshold}}</span>, then...</p>
			</div>
			<div class="form-group">
				<label for="nudge">Next Roll Increase</label>
				<div class="form-fields">
					<input
						type="range"
						name="nudge"
						value="{{karma.nudge}}"
						min="1"
						max="5"
						step="1"
						data-dtype="Number"
					/>
					<span class="range-value">{{karma.nudge}}</span>
				</div>
				<p class="notes">...the next die roll and each following roll will be increased by
					<span class="range-value" style="font-weight: bold;">{{karma.nudge}}</span>,
					{{#if karma.cumulative}}
						<span id="spanKarmaAvgCumulativeDesc">cumulatively (<span
								id="karmaNudge1"
								class="range-value"
								style="font-weight: bold;"
							>+{{karma.nudge}}</span>, then
							<span
								id="karmaNudge2"
								class="range-value"
								style="font-weight: bold;"
							>+{{karma.nudge2}}</span>, then
							<span
								id="karmaNudge3"
								class="range-value"
								style="font-weight: bold;"
							>+{{karma.nudge3}}</span>, etc...),
						</span>{{/if}}until the average is equal or higher than
					<span id="karmaAvgThresholdMore" style="font-weight: bold;">{{karma.threshold}}</span>.</p>
			</div>
			<div class="form-group">
				<label for="cumulative">Cumulative Roll Increase</label>
				<input type="checkbox" name="cumulative" id="karmaAvgCumulative" {{checked karma.cumulative}} />
			</div>
			<div class="form-group">
				Current Player Stats
				{{#each playerStats}}
					<p class="notes" style="padding-left: 20px"><span style="font-weight: bold;">{{name}}:</span>
						[{{statsString}}] =
						<span style="font-weight: bold;">{{avg}}</span>
						avg</p>
				{{/each}}
			</div>
		{{/if}}
	{{/if}}
</form>